service fps_hal.rmx2020 /system/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.rmx2020
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

service oppo_fingerprints_sh /vendor/bin/sh /vendor/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot
