service vendor.light /vendor/bin/hw/android.hardware.lights-service.RMX2020
    class hal
    user system
    group system
    shutdown critical

on boot
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
