on init
    write /sys/class/leds/lcd-backlight/brightness 255

on fs
    install_keyring
    mkdir /mnt/vendor/persist 0777 system system
    setprop crypto.ready 1

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /sbin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

#Add for OPPO FBE
service hal_cryptoeng_oppo /sbin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /sbin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd
