# Audio
system_public_prop(system_audio_tuning_prop)
system_public_prop(system_oplus_audio_prop)

# Camera
system_public_prop(system_oplus_camera_prop)

# Fingerprint
system_public_prop(system_oplus_fingerprint_prop)

# Sensors
system_public_prop(system_oplus_sensor_prop)
