# Adapted from the "recovery_only" macro
define(`system_only', ifelse(target_recovery, `true', , $1))

# Define only in system because we can't skip checkpolicy
# in recovery.
system_only(`
  type rild, domain;
  # rild needs to read these props for IMS to work
  allow rild exported3_default_prop:file r_file_perms;
');
