on init
    setprop sys.usb.configfs 1

on fs
    wait /dev/block/platform/bootdevice/
    symlink /dev/block/platform/bootdevice/ /dev/block/bootdevice

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1
