on boot
    chown system system /sys/kernel/oppo_display/seed
    chown system system /sys/class/power_supply/usb/otg_switch
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/oppo_tp_direction
    chown system system /proc/touchpanel/oppo_tp_limit_enable

    chmod 0666 /sys/kernel/oppo_display/seed
    chmod 0666 /sys/class/power_supply/usb/otg_switch
    chmod 0666 /proc/touchpanel/game_switch_enable
    chmod 0666 /proc/touchpanel/oppo_tp_direction
    chmod 0666 /proc/touchpanel/oppo_tp_limit_enable
