on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6785 /vendor/etc/fstab.mt6785 bind

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6785

on post-fs-data
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1
